<div class="form-container">
  <%= render partial: 'layouts/errors', locals: { object: @user } %>
  <h1>New Account Form:</h1>
  <br></br>

  <%= form_for @user do |f| %>
    <div class="grid signup-login">
      <div class="box">
        <%= f.label :name, "Enter Your Name:" %>
        <br></br>
        <%= f.text_field :name %>
      </div>
        
      <div class="box">
        <%= f.label :email, "Enter Your Email:" %>
        <br></br>
        <%= f.text_field :email %>
      </div>
        
      <div class="box">
        <%= f.label :password, "Password (Must be at least 8 char.):" %>
        <br></br>
        <%= f.password_field :password %>
      </div>
    </div>
    <%= f.submit "Create Account", class: "btn btn-primary" %>
  <% end %>
</div>
