<h1><%= @client.name %></h1>
<br></br>
<h2>Email: <%= @client.email %></h2>
<br></br>
<h2>Phone: <%= @client.phone %></h2>
<br></br>
<h2>Age: <%= @client.age %></h2>
<br></br>
<h2>Weight: <%= @client.weight %></h2>
<br></br>
<h2>Goal: <%= @client.goal %></h2>
