<button id="previous" data-id="<%= @client.id %>" class="btn btn-secondary btn-sm">Previous</button>
<button id="next" data-id="<%= @client.id %>" class="btn btn-secondary btn-sm">Next</button>
<br></br>
<div class="show-view">
  <div class="col-lg-6">
    <%= link_to "Edit Client", edit_client_path(@client), class: "btn btn-primary", id: "edit-client"  %>
    <%= link_to "Remove Client", @client, method: :delete, class: "btn btn-danger", id: "remove-client", data: { confirm: "Are you sure you want to remove this client?" } %>
    <h2 id="client-name"><%= client_name(@client) %></h2><br>
    <h4 id="email">Email: <%= @client.email %></h4><br>
    <h4 id="phone">Phone: <%= @client.phone %></h4><br>
    <h4 id="age">Age: <%= @client.age %></h4><br>
    <h4 id="weight">Current Weight: <%= @client.weight %></h4><br>
    <h4 id="goal">Goal: <%= @client.goal %></h4><br>
    <%= client_progress(@client) %>

    <br></br>
  </div>
  <div class="col-lg-6">
    <h4>Notes:</h4>
    <ul class="notes-list">
      <% @notes.each do |note| %>
        <li><%= note.text %></li>
      <% end %>
    </ul>

    <br></br>
    
    <h4>Add a Note For <%= client_name(@client) %>:</h4>
    <%= form_for @note, :html=> {:id => 'note-form'} do |f| %>
      <%= f.hidden_field :client_id, value: @client.id %>
      <%= f.text_area :text %>
      <br></br>
      <%= f.submit "Add Note", :class => "btn btn-success btn-sm", :id => "ajax_submit" %>
    <% end %>
    <button id="clear-notes" data-id="<%= @client.id %>" class="btn btn-danger btn-sm">Clear Notes</button>
  </div>
</div>