<!DOCTYPE html>
<html>
  <head>
    <title>TrainerClientTracker</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render "layouts/navbar" %>

    <div class="container">
      <%= content_tag(:div, flash[:alert], id: "flash_alert", class: "alert alert-danger") if flash[:alert] %>
      <br>
      <%= yield %>
    </div>
  </body>
</html>
